<!DOCTYPE html>
<html>
<head>
	<title>PyTeamsExporter - Daniel Green</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
	<!-- Header (login info, sign out button). -->
  <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
			<div class="nav me-auto align-items-center">
			Logged in as {{username}} ({{ email }})
			</div>
      <ul class="nav">
        <li id="logout" class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign out</a></li>
      </ul>
    </div>
  </nav>

	<!-- Toast for errors when getting chats. -->
	<div class="toast-container position-absolute p-3" style="z-index: 999;">
		<div id="toast_getchats" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
				<div class="toast-body">
					ERROR MESSAGE HERE
				</div>
				<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div>

	<!-- Toast for errors when downloading chats. -->
	<div class="toast-container position-absolute p-3" style="z-index: 999;">
		<div id="toast_downloadchats" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
				<div class="toast-body">
					ERROR MESSAGE HERE
				</div>
				<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div>

	<main class="container py-4">
		<!-- Main buttons. -->
		<button id="get_chats" class="btn btn-primary btn-lg" type="button">Get Chat History</button>
		<button id="download_chats" class="btn btn-success btn-lg disabled" type="button">Download Selected Chats</button>
		<br/><br/>

		<!-- Chats table (and easy de/select buttons). -->
		<button id="chats_select_all" type="button" class="btn btn-dark btn-sm">Select All</button>
		<button id="chats_select_none" type="button" class="btn btn-dark btn-sm">Select None</button>
		<!-- ENABLE THIS TO SEND DEBUG REQUESTS FOR TESTING. -->
		<!-- <button id="debug_request" type="button" class="btn btn-dark btn-sm">DEBUG REQUEST</button> -->
		<br/><br/>
		<div style="max-height: 70vh; overflow: auto;">
			<table id="chats_table" class="table table-striped table-hover table-responsive">
				<!-- https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body -->
				<thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
					<tr>
						<th style="position: sticky; top: 0; z-index: 1;">Export</th>
						<th style="position: sticky; top: 0; z-index: 1;">Topic</th>
						<th style="position: sticky; top: 0; z-index: 1;">Type</th>
						<th style="position: sticky; top: 0; z-index: 1;">Members</th>
						<th style="position: sticky; top: 0; z-index: 1;">Link</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input class="chat-checkbox form-check-input" type="checkbox" value=""></td>
						<td>Topic</td>
						<td>Type</td>
						<td>Members</td>
						<td>Link</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

	<script>
		// Initialize toasts (mmm...).
		var toastEls = [].slice.call(document.querySelectorAll('.toast'));
		toastEls.map(function(el) {
			new bootstrap.Toast(el, {})
		});

		// Sign out button.
		$('#logout').click(function(evt) {
			const endpoint = location.origin + '/logout';
			window.location.replace(endpoint);
			evt.preventDefault();
		});

		// DEBUG REQUEST
		$('#debug_request').click(function(evt) {
			const endpoint = location.origin + '/debug_request';
			const data = {
				'data': ''
			};
			$.ajax({
				type: 'POST',
				url: endpoint,
				data: JSON.stringify(data),
				contentType: 'application/json', // What we are sending in `data`.
				contentType: 'application/json',
				success: function(data) {
					console.log(data);
				},
				error: function(xhr, msg, err) {
					console.log(xhr);
				}
			});

			evt.preventDefault();
		});

		// Select all chats button.
		$('#chats_select_all').click(function(evt) {
			$('.chat-checkbox').each(function(index, el) {
				$(el).prop('checked', true);
			});
			evt.preventDefault();
		});

		// Select no chats button.
		$('#chats_select_none').click(function(evt) {
			$('.chat-checkbox').each(function(index, el) {
				$(el).prop('checked', false);
			});
			evt.preventDefault();
		});

		// Removes all entries in the chats table.
		function clear_chats() {
			const table = $('#chats_table tbody');
			table.empty();
		}

		function add_chat_entry(item) {
			const table = $('#chats_table tbody');

			// Create and populate a new row.
			const row = document.createElement('tr');
			// Add the chat ID to the row's data.
			$(row).attr('chatid', item.id);
			// Checkbox for downloading.
			const chkRow = create_row_column(row);
			chkRow.innerHTML = "<input class=\"chat-checkbox form-check-input\" type=\"checkbox\" value=\"\">";
			// Chat topic.
			const topicRow = create_row_column(row);
			if(item.topic == null || item.topic.length == 0) {
				topicRow.innerText = 'Unnamed Chat';
			} else {
				topicRow.innerText = item.topic;
			}
			// Chat type.
			const typeRow = create_row_column(row);
			typeRow.innerText = item.type;
			// Chat members list.
			const membersRow = create_row_column(row);
			membersRow.innerText = item.members;
			// Chat link.
			const linkRow = create_row_column(row);
			linkRow.innerHTML = '<a href=\"' + item.link + '\" target=_blank>Link<a/>';
			
			table.append(row);
		}

		function create_row_column(row) {
			const col = document.createElement('td');
			row.append(col);
			return col;
		}

		// Get chat history button.
		$('#get_chats').click(function(evt) {
			const endpoint = location.origin + '/get_all_chats';

			// Change button to loading mode.
			const btn = $(this);
			const loadingText = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Loading...";
			if(btn.html() !== loadingText) {
				btn.data('original-text', btn.html());
				btn.html(loadingText);
			}
			btn.addClass('disabled');

			$.ajax({
				type: 'GET',
				url: endpoint,
				contentType: 'application/json',
				success: function(data) {
					console.log(data);

					// Remove all table entries.
					clear_chats();

					// Add all new chat entries and store their IDs in the lookup array.
					for(var i=0; i < data.length; ++i) {
						add_chat_entry(data[i]);
					}

					// If we have any actual chats, then enable the download button.
					if(data.length > 0) {
						$('#download_chats').removeClass('disabled');
					}

					// Restore get chat history button back to its original state.
					btn.html(btn.data('original-text'));
					btn.removeClass('disabled');
				},
				error: function(xhr, msg, err) {
					// Restore get chat history button back to its original state.
					btn.html(btn.data('original-text'));
					btn.removeClass('disabled');

					// Show an error toast.
					const json_err = JSON.parse(xhr.responseText || "{\"message\": \"Offline.\"}");
					const toast_el = $('#toast_getchats');
					toast_el.find('.toast-body').text("Failed to retrieve chat history (" + json_err.message + ")" );
					toast_el.toast('show');
					
					console.log(xhr);
				}
			});

			evt.preventDefault();
		});

		function download_chat_recursive(index, promise_list) {
			const all_table_rows = $('#chats_table').find('tbody > tr');
			if(index >= all_table_rows.length) {
				// Wait for the final generated list of ajax promises to finish...
				$.when.apply(null, promise_list).done(function() {
					console.log("Downloads complete!");

					// Enable all checkboxes again.
					disable_all_checkboxes(false);

					// Restore the button back to its original state.
					const download_btn = $('#download_chats');
					download_btn.html(download_btn.data('original-text'));
					download_btn.removeClass('disabled');

					// Same for the get chat history button.
					$("#get_chats").removeClass("disabled");
				});

				return;
			}

			const row_checked = $(all_table_rows[index]).find('.chat-checkbox').prop('checked');
			if(row_checked) {
				const row_chatid = $(all_table_rows[index]).attr('chatid');
				if(row_chatid === undefined) {
					console.log("WARNING: Row " + index + " is missing chatid. Skipping.");
					download_chat_recursive(index + 1, promise_list);
				} else {
					console.log("Downloading chat with ID=" + row_chatid);

					const row_data = {
						chat_id: row_chatid
					};

					// https://stackoverflow.com/a/50920334
					// use this transport for "binary" data type
					$.ajaxTransport("+binary", function (options, originalOptions, jqXHR) {
							// check for conditions and support for blob / arraybuffer response type
							if (window.FormData && ((options.dataType && (options.dataType == 'binary')) || (options.data && ((window.ArrayBuffer && options.data instanceof ArrayBuffer) || (window.Blob && options.data instanceof Blob))))) {
									return {
											// create new XMLHttpRequest
											send: function (headers, callback) {
													// setup all variables
													var xhr = new XMLHttpRequest(),
															url = options.url,
															type = options.type,
															async = options.async || true,
															// blob or arraybuffer. Default is blob
															dataType = options.responseType || "blob",
															data = options.data || null,
															username = options.username || null,
															password = options.password || null;

													xhr.addEventListener('load', function () {
															var data = {};
															data[options.dataType] = xhr.response;
															// make callback and send data
															callback(xhr.status, xhr.statusText, data, xhr.getAllResponseHeaders());
													});

													xhr.open(type, url, async, username, password);

													// setup custom headers
													for (var i in headers) {
															xhr.setRequestHeader(i, headers[i]);
													}

													xhr.responseType = dataType;
													xhr.send(data);
											},
											abort: function () {
													jqXHR.abort();
											}
									};
							}
					});

					const endpoint = location.origin + '/get_chat';
					const this_req = $.ajax({
						type: 'POST',
						url: endpoint,
						data: JSON.stringify(row_data),
						contentType: 'application/json', // What we are sending in `data`.
						dataType: 'binary', // What we expect to get back.
						success: function(res) {
							// Prepare the response data and ask the browser to save it to file.
							// https://stackoverflow.com/a/56581061
							var blob = new Blob([res], {type: 'application/octet-stream'});
							var url = window.URL.createObjectURL(blob);
							var link = document.createElement('a');
							document.body.appendChild(link);
							link.style = 'display: none';
							link.href = url;
							link.download = row_chatid + '.zip';
							link.click();

							setTimeout(() => {
								window.URL.revokeObjectURL(url);
								link.remove();
							}, 100);

							download_chat_recursive(index + 1, promise_list);
						},
						error: function(xhr, msg, err) {
							// Show an error toast.
							const json_err = JSON.parse(xhr.responseText || "{\"message\": \"Offline.\"}");
							const toast_el = $('#toast_downloadchats');
							toast_el.find('.toast-body').text("Failed to download chats. (" + json_err.message + ")");
							toast_el.toast('show');

							console.log(xhr);

							download_chat_recursive(index + 1, promise_list);
						}
					});

					promise_list.push(this_req);
				}
			} else {
				download_chat_recursive(index + 1, promise_list);
			}
		}

		function disable_all_checkboxes(state) {
			$('.chat-checkbox').each(function(index, el) {
				$(el).prop('disabled', state);
			});
		}

		// Download chats button.
		$('#download_chats').click(function(evt) {
			// Change button to (down)loading mode.
			const btn = $(this);
			const loadingText = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Downloading... (this may take a while)";
			if(btn.html() !== loadingText) {
				btn.data('original-text', btn.html());
				btn.html(loadingText);
			}
			btn.addClass('disabled');

			// Also disable the get chat history button.
			$("#get_chats").addClass("disabled");

			// Disable all checkboxes so that the download order can't be changed during the download loop.
			disable_all_checkboxes(true);

			// Kick off the download loop with the first element.
			download_chat_recursive(0, []);

			evt.preventDefault();
		});
	</script>
</body>
</html>
